/*
https://coolors.co/export/copic/d7f9f1-7aa095-40531b-618b4a-afbc88
$azureishWhite: rgba(215, 249, 241, 1);
$desaturatedCyan: rgba(122, 160, 149, 1);
$armyGreen: rgba(64, 83, 27, 1);
$maxGreen: rgba(97, 139, 74, 1);
$sage: rgba(175, 188, 136, 1);
*/

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, head, body {
    background-color: rgba(175, 188, 136, 1);
    width: 100%;
    height:100%;
}

.grid {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "topbar topbar topbar" "content content sidebar" "footer footer footer";
}

header {
    grid-area: topbar;
    background-color: rgb(202, 0, 0);
}

main {
    grid-area: content;
    background-color: hsl(0, 0%, 86%);
    padding: 1em;
}
 
aside {
    grid-area: sidebar;
    padding: 1em;
    background-color: hsl(0, 0%, 82%);
}
  
footer {
    grid-area: footer;
    background-color: red;
}


/**/
.station-list {
    text-align: center;
    list-style: none;
}

.info-cheap-petrol, .info-cheap-diesel {
    padding: .5em;
}

nav {
   line-height: 42px;
   color: black;
   padding: 1em; 
}

nav a{
    text-decoration: none;
}

nav a+a::before {
    content: "| ";
}