{% extends "base.html" %}

{% block title %}Home{% endblock title%}

{% block header %}
<p class="info-cheap-petrol">{{cheapest_petrol_station}} eru með ódýrasta bensínið á {{cheapest_petrol_price}}kr per líter.</p>
<p class="info-cheap-diesel">{{cheapest_diesel_station}} eru með ódýrasta dieselið á {{cheapest_diesel_price}}kr per líter.</p>
{% endblock header %}

{% block content %}
<h1>Heimasíða bensínstöðvasíðunar</h1>

<div class="cheapest-petrol">
    <h2>Í dag eru {{cheapest_petrol_station}} með ódýrasta bensínið.</h2>
    <img src="{{station_logos[cheapest_petrol_station]}}" width="256px" alt="{{cheapest_petrol_station}}">
    <h3>Verð per líter: {{cheapest_petrol_price}}</h3>
</div>


<div class="cheapest-diesel">
    <h2>Í dag eru {{cheapest_diesel_station}} með ódýrasta dieselið</h5>
    <img src="{{station_logos[cheapest_diesel_station]}}" width="256px" alt="{{cheapest_diesel_station}}">
    <h3>Verð per líter: {{cheapest_diesel_price}}</h3>
</div>

{% endblock content %}

{% block sidebar %}

{% for station in stations  %}
<ul class="station-list">
    <li><a href="/stodvar/{{station}}">{{ station }}</a></li>
</ul>
{% endfor %}

{% endblock sidebar %}