{% extends "base.html" %}

{% block title %}Home{% endblock title%}

{% block header %}
<nav>
    <a href="/" style="color: black; line-height: 42px;">Aftur heim</a>
</nav>
{% endblock header %}

{% block content %}
<img src="{{station_logos[station]}}" height="200px" alt="">
<h1>{{station}}</h1>
<p>Petrol: {{station_petrol}} kr.</p>
<p>Diesel: {{station_diesel}} kr.</p>

<div class="line"></div>

<h3>Allar stöðvar {{station}}:</h3>
<table class="all-locations">
    <tr>
        <th>Staðsetning</th>
        <th>Bensín</th>
        <th>Diesel</th>
    </tr>
    {% for location in locations %}
    <tr>
        <td>{{location[0]}}</td>
        <td>{{location[1]}}</td>
        <td>{{location[2]}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}

{% block sidebar %}

<ul class="station-list">
    {% for station in stations  %}
    <li><a href="/stodvar/{{station}}">{{ station }}</a></li>
    {% endfor %}
</ul>


{% endblock sidebar %}