{% extends "base.html" %}

{% block title %}Home{% endblock title%}

{% block header %}
<nav>
    <a href="/" style="color: black; line-height: 42px;">Aftur heim</a>
</nav>
{% endblock header %}

{% block content %}
<h1>{{station}}</h1>
<p>Petrol: {{station_petrol}}</p>
<p>Petrol: {{station_diesel}}</p>
{% endblock content %}

{% block sidebar %}

<ul class="station-list">
    {% for station in stations  %}
    <li><a href="/stodvar/{{station}}">{{ station }}</a></li>
    {% endfor %}
</ul>

{% endblock sidebar %}